apiVersion : apps/v1
kind : Deployment
metadata : 
  name : {{.Values.appName}}
  labels :
    app : {{.Values.appName}}

spec :
  replicas : 2
  selector :
    matchLabels :
      app : {{.Values.appName}}

  template :
    metadata : 
      labels:
        app : {{.Values.appName}}
    spec :
      containers :
        - name : {{.Values.container.name}}
          image : {{.Values.image.name}}:{{.Values.image.tag}}
          ports :
            - containerPort : 80
          resources :
            requests : 
              memory : "128Mi"
              cpu : "200m"
            limits : 
              memory : "256Mi"
              cpu : "400m"
          livenessProbe :
            httpGet :
              path : /
              port : 80
            initialDelaySeconds : 30
            periodSeconds : 10
          readinessProbe :
            httpGet :
              path : /
              port : 80
            initialDelaySeconds : 10
            periodSeconds : 5

    